<div >
  <header class="nav_bar_admin_power_page">
    <div><a href="/"><%= image_tag('taxido_logo.png',class: "logo_image") %></a></div>

    <div>
      <a href="/admins/admin_adding_car">
        <p class="nav_bar_add_car_button_admin_power_page">Add Car</p>
      </a>
    </div>

    <% if @presence == 0 %>
  <a href="/homes/login">
    <div class="nav_bar_right_button">Log in</div>
  </a>
  <% else %>

  <div class="dropdown">
        <span>
        <%= image_tag('image.png',class: "user_image",onclick: "dropdwn()" ) %>
      </span>
      
        <div class="dropdown-content" id="dropdown-content">
          <div class="dropbtn_btn">
            <button class="dropbtn"><%= image_tag('profile1.jpg',class: "profile_image") %> <%= @user.user_name %> </button>
          </div>
          <div>
          <span class="logout_content">
          <a href="/logout" data-method="delete"><%= image_tag('logout1.png',class: "profile_image",width: "20px" ) %>Log Out</a>
        </span>
        </div>
        </div>
      </div>

  <% end %>
  </header>

  <div class="admin_car_listing_title">
    <span>Available Cars</span>
  </div>

  <div class="admin_power_car_listing_main_div">

  
   <% CarsList.all.each do |car| %>
     
   
  <div class="admin_power_car_listing_div">
    <div class="car_image_and_car_title_div">
      <div class="admin_power_car_listing_image_div">
        <span><%= image_tag car.car_image, class:"img_preview" %> </span>
      </div>
      <div class="admin_power_car_listing_car_name_div">
        <span> <%= car.car_name%> </span>
      </div>
    </div>

    <div class="admin_power_car_listing_per_day_price">
      <span> &#8377; <%= car.per_day_price%> /Per Day</span>
    </div>

    <div class="admin_power_car_listing_owner_name_div">
      <span> <strong> Owner Name: </strong><%= car.car_owner_name%> </span>
    </div>
    <div class="admin_power_car_listing_Registration_no_div">
      <span> <strong> Registration no: </strong><%= car.car_registration_number%></span>
    </div>

    <div class="admin_power_car_listing_fuel_type_div">
      <span> <strong> Fuel Type: </strong>  <%= car.fuel_type%></span>
    </div>
    <div class="admin_power_car_listing_KM_driven_div">
      <span> <strong> KM Driven: </strong>  <%= car.KM_driven %> </span>
    </div>

    <div class="admin_power_car_listing_remove_car_div">
      <%= link_to "Remove Car", "/remove_car/#{car.id}" ,method: :delete, data: {confirm:
        'Are you sure ?'} %>
    </div>
    
  </div>

  <%end%>
  </div>
</div>


<script>
  function dropdwn(){
    document.getElementById("dropdown-content").style.display="block";
  }

  window.onclick = function(e) {
  if (!e.target.matches('.user_image')) {
  var myDropdown = document.getElementById("dropdown-content");
    if (myDropdown.style.display = "block") {
      myDropdown.style.display = "none";
    }
  }
}
</script>