
  <header class="nav_bar_become_a_host_page">
    <div><a href="/"><%= image_tag('taxido_logo.png',class: "logo_image") %></a></div>
    <a href="/homes/contact_us_page">
      <div>
        <p class="nav_bar_contact_us_button">Contact Us</p>
      </div>
      </a>
    <a href="/homes/terms_and_condition_page">
    <div>
      <p class="nav_bar_tcs_button">T&C</p>
    </div>
    </a>
    <% if @presence == 0 %>
    <a href="/homes/login">
      <div class="nav_bar_right_button">Log in</div>
    </a>
    <% else %>
    
    <div class="dropdown">
      
      <span>
      <%= image_tag('image.png',class: "user_image",onclick: "dropdwn()" ) %>
    </span>
    
      <div class="dropdown-content" id="dropdown-content">
        
        <div class="dropbtn_btn">
          <button class="dropbtn"><%= image_tag('profile1.jpg',class: "profile_image") %><%= @user.user_name %></button>
        </div>
        <div>
        <span class="logout_content">
        <a href="/logout" data-method="delete"><%= image_tag('logout1.png',class: "profile_image",width: "20px" ) %>Log Out</a>
      </span>
      </div>
      </div>
    </div>
    
    <% end %>
  </header>

  <div class="become_a_host_page_contents">
    <div class="become_a_host_page_cover_div">
      <div class="become_a_host_page_cover_contents">
        <p>Share your car with us and</p>
        <p class="Earn_upto_text">Earn upto &#8377; 30,000 per month.</p>
        <a href="#first_step_div">
       <div class="steps_to_share_my_car_button">Steps To Share My Car</div>
       </a>
      </div>
    </div>

    <div class="steps_to_become_host_div">
      <div class="simple_steps_title">
        <p>3 simple steps to start your earning with your car in</p>
        <p class="hours_text_in_title">24 hours.</p>
      </div>

       <div class="steps_div">
         
       
      <div class="first_step_div" id="first_step_div">
        <div class="steps_text_content">
          <div class="steps_title">1. Contact us through e-mail</div>
          <div class="steps_content">
            You can mail us <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=taxido.helpdesk@gmail.com" target="_blank"> taxido.helpdesk@gmail.com </a> about your car.
             You should send us a copy of RC book and a latest image of your car. 
             After internal verfication our team will reach you.
          </div>
        </div>

        <div class="steps_image_content">
          <%= image_tag('send_mail_image.png',class: "send_mail_image") %>
        </div>
      </div>

      <div class="second_step_div">
        <div class="steps_image_content">
          <%= image_tag('car_verification.png',class: "car_verification_image") %>
        </div>

        <div class="steps_text_content">
          <div class="steps_title">2. In-person Verification</div>
          <div class="steps_content">
            After internal verfication our team will reach you, for car inspection. 
            They will test ride the car and note down the car condition and Take pictures 
            of the car for future reference.
          </div>
        </div>
      </div>

      <div class="third_step_div">
        <div class="steps_text_content">
          <div class="steps_title">
            3. Hand over your car and earn peacefully
          </div>
          <div class="steps_content">
            If your car has passed all the tests.Taxido will takeover your car. You can earn 
            30,000 per month.Prices mayvary from car to car.RC Book will be taken as mandatory.
          </div>
        </div>

        <div class="steps_image_content">
          <%= image_tag('hand_over_car_image.png',class: "hand_over_car_image_image") %>
        </div>
      </div>

      </div>
    </div>
  </div>


  <script>
    function dropdwn(){
      document.getElementById("dropdown-content").style.display="block";
    }
  
    window.onclick = function(e) {
    if (!e.target.matches('.user_image')) {
    var myDropdown = document.getElementById("dropdown-content");
      if (myDropdown.style.display = "block") {
        myDropdown.style.display = "none";
      }
    }
  }
  </script>