<header class="nav_bar_become_a_host_page">
    <div><a href="/"><%= image_tag('logo.png',class: "logo_image") %></a></div>
    <div>
      <p class="nav_bar_contact_us_button">Contact Us</p>
    </div>
    <a href="/homes/terms_and_condition_page">
    <div>
      <p class="nav_bar_tcs_button">T&C</p>
    </div>
    </a>
    <% if @presence == 0 %>
    <a href="/homes/login">
      <div class="nav_bar_right_button">Log in</div>
    </a>
    <% else %>
    
      <div class="dropdown">
        <span>
        <%= image_tag('image.png',class: "user_image",onclick: "dropdwn()" ) %>
      </span>
      
        <div class="dropdown-content" id="dropdown-content">
        
          <div class="dropbtn_btn">
            <button class="dropbtn"><%= image_tag('profile1.jpg',class: "profile_image") %><%= @user.user_name %></button>
          </div>
          <div>
          <span class="logout_content">
          <a href="/logout" data-method="delete"><%= image_tag('logout1.png',class: "profile_image",width: "20px" ) %>Log Out</a>
        </span>
        </div>
        </div>
      </div>
    
    <% end %>
  </header>

<div class="end_page_div">
  <div class="booking_successful_title">
    Car Booked Successfully
  </div>
  <div class="car_delivery_at_div">
    <span> <b> Car Delivery at: </b> <%= @booking_user.pick_up_point %>,<%= @booking_user.pick_up_city %>. </span>
  </div>
  <div class="ending_page_car_registration_number_div">
    <span><b> Car Registration no.: </b> <%= @car_detail.car_registration_number %></span>
  </div>

  <a href="/"><div class="go_to_home_button">
    Go to home
  </div>
  </a>
</div>

<script>
  function dropdwn(){
    document.getElementById("dropdown-content").style.display="block";
  }

  window.onclick = function(e) {
  if (!e.target.matches('.user_image')) {
  var myDropdown = document.getElementById("dropdown-content");
    if (myDropdown.style.display = "block") {
      myDropdown.style.display = "none";
    }
  }
}
</script>